<%-include header %>
<article id="1" class="post">
	<header class="post-head">
		<h2 class="post-title"><a href="">浏览器Bug——底部问题</a></h2>
		<hgroup class="post-meta">
			<span class="author">作者:<a href="#" title="">Targeral</a></span>
			<time class="post-date" datatime="">2015年9月15日</time>
		</hgroup>
	</header>
	<div class="post-content">
		
	</div>
	<footer class="post-footer clearfix">
		<div class="pull-left tag-list">
			<i></i>
			<a href="#">html/css</a>
		</div>
	</footer>
</article>
<%-include footer %>