<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="targeral的blog" />
	<meta name="keywords" content="targeral,blog">
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/blog.css">
	<link rel="canonical" href="http://targeral.com/" />
	<link rel="next" href="" />
	<meta name="generator" content="Ghost 0.6" />
	<title>Targeral的博客</title>
</head>
<body>
	<header class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Targeral,为WEB而奋斗的艺术家</h1>
				</div>
			</div>
		</div>
	</header>
				
